@import '../../../styles/setup/vars';
@import '../../../styles/setup/mixins';

.dashboard-content {
    // padding: 0rem 1rem;
    // background-color: #f6f7fb;
    overflow-y: hidden;
    display: grid;
    // grid-template-columns: repeat(3, minmax(1fr, 32%));
    grid-template-columns: repeat(3, 32%);

    grid-template-rows: 0.5fr 0.7fr 1fr;
    gap: 1rem;
    // height: calc(100% - 200px);
    max-width: 100%;
    overflow: hidden;
    overflow-y: hidden;


}

.dashboard-item-holder {
    border: 1px solid #d0d4e4;
    // padding: 0.7rem;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .chart {
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: center;


    }

    &-title {
        height: 48px;
        border-bottom: 1px solid $--ui-border-color;
        display: flex;
        align-items: center;

        span {
            padding-inline-start: 1rem;
            font-weight: 600;
            font-size: 16px;
        }
    }

    .number-view {
        margin: 0.5rem;
        padding: 0.1rem 0.5rem;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.closed {
            background-color: rgba(58, 200, 118, 0.5);

            &:hover {
                background-color: rgba(58, 200, 118, 1);
            }
        }

        &.open {
            background-color: rgba(209, 209, 209, 0.5);

            &:hover {
                background-color: rgba(209, 209, 209, 1);
            }
        }

        &-title {
            font-size: 18px;
            margin-inline-end: 1rem;
        }

        &-number {
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: 0;


            span {
                &:not(:last-of-type) {
                    margin-inline-end: 1rem;
                }


                // font-size: 16px;
            }
        }
    }

    .members-view {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem;

        &-member {
            padding: 2rem 1rem;
            background-color: rgba(209, 209, 209, 0.5);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;

            .img-holder {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: #fff solid 2px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .member-name {
                font-size: 18px;
                padding: 0.5rem;
                font-weight: 300;
                margin-block-end: 1rem;
            }

            .member-linkedIn {

                a,
                a:visited {
                    text-decoration: none;
                    color: inherit;
                }

                background-color: rgba(209, 209, 209, 0.5);
                width: 100%;
                padding: 0.5rem;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.5s;
                text-align: center;

                &:hover {
                    background-color: #0072b1;
                    color: white;
                }
            }
        }
    }
}



.dashboard-item-holder.dashboard-item-number {
    grid-column: 1/1;
    grid-row: 1/1;

}

.dashboard-item-holder.dashboard-item-task-by-priority {
    grid-column: 3/4;
    grid-row: 1/3;
}

.dashboard-item-holder.dashboard-item-task-by-lables {
    grid-column: 2/3;
    grid-row: 1/3;
}

.dashboard-item-holder.dashboard-item-task-by-status {
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dashboard-item-holder.dashboard-item-task-by-status .chart>* {

    // height: 100%;
}

.dashboard-item-holder.dashboard-item-team {
    /* grid-row: 1/2; */
    grid-column: 2/-1;

}

.dashboard-item-holder .members-view {
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-item-holder .chart {
    padding: 0.5rem 1rem;
    // height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
}


@media only screen and (max-width: 850px) {
    .dashboard-content {
        display: flex;
        flex-direction: column;
    }

    .dashboard-item-holder {
        .number-view {
            display: grid;
            grid-template-columns: 1fr 1fr;


        }
    }
}