.task-location {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    padding: 0 5px;
    position: relative;


    &:focus-within {
        border: 1px solid #0073ea;
    }

    .input-container {

        width: 100%;
        height: 100%;
        position: relative;

        &:hover:before {
            content: "";
            position: absolute;
            top: 4px;
            right: 5px;
            bottom: 4px;
            left: 5px;
            border: 1px solid;
            border: 1px solid #c3c6d4;
            pointer-events: none;
            z-index: 1;
            height: 100%;
            width: 100%;
        }

        // &:hover {
        //     border: 1px solid #c3c6d4;
        // }

        .location-input {
            border: none;
            outline: none;
            width: 100%;
            position: absolute;
            right: 0;
            text-align: center;
            background-color: inherit;
            height: 80%;
            top: 3px;


            &:hover {
                box-shadow: 0 0 0 1px var(--el-input-hover-border-color) inset !important;
            }

            &:focus-visible {
                background-color: #fff;
                border: 1px solid #c3c6d4;
            }
        }
    }
}

.text-content {
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: 0 2px;


}


.text-cell-component {
    line-height: 24px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    padding: 0 1rem;

    flex-basis: 100%;
    width: 100%;
    height: 100%;

    &:hover:before {
        content: "";
        position: absolute;
        top: 4px;
        right: 5px;
        bottom: 4px;
        left: 5px;
        border: 1px solid;
        border-color: var(--ui-border-color);
        pointer-events: none;
        z-index: 1;
    }


    &-active:before {
        content: "";
        position: absolute;
        color: #0073ea;
        top: 4px;
        right: 5px;
        bottom: 4px;
        left: 5px;
        border: 1px solid;
        border-color: var(--ui-border-color);
        pointer-events: none;
        z-index: 1;
    }
}






.input-location {
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: inherit;
    font-weight: inherit;
    

    &:hover {
        cursor: text;
    }

    &:focus {
        border: none;
        outline: none;
        background-color: #fff;
        
        text-align: center;
    }
}

.icon-v2-line-location {
    cursor: text;

    &:before {
        content: "\f35a";
        font-family: "dapulse";
        position: absolute;
        top: 0px;
        left: 0.5rem;
        font-size: 12px;
        height: 100%;
        display: flex;
        font-size: 12px;
        align-items: center;
    }

    &:hover {
        color: #0073ea;
    }
}