// .statusCmp {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     align-content: center;
// }

.task-status-cmp-display {
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    &:hover{
       cursor: pointer;
    }

}