// MAIN COLOR
$--primary-text-color: #323338;
$--primary-background-color: #ffffff;


// APP NAVIGATION COLOR

$--color-surface: #292f4c;
$--color-asphalt: #676879;


// BORDER COLOR
$--dark-background-color: #f6f7fb;
$--layout-border-color: #d0d4e4;