@import '../../../styles/setup/vars';
@import '../../../styles/setup/mixins';

.backdrop-modal {
    // opacity: 0;
    background-color: rgba(41, 47, 76, 0.7);
}

.modal-box {
    position: absolute;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    background: $--primary-background-color;
    overflow: hidden;
    border-radius: 8px;
    outline: none;
    padding: 0px;
    // width: -webkit-fill-available;
    max-width: 850px;
    max-height: 90vh;
    max-width: 95vw;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease 0s;
    box-shadow: rgb(0 0 0) 0px 1px 2px 0px;
    color: $--primary-text-color;
}