.inline-input {
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: inherit;
    font-weight: inherit;


    &:hover {
        cursor: text;
    }

    &:focus {
        border: none;
        outline: none;
    }
}