@import '../../../styles/setup/icons';
@import '../../../styles/setup/vars';


.board-sub-header {
    display: flex;

}

.board-filter {
    display: flex;

}


.input-container {
    display: flex;
    align-items: center;

    input {
        width: 100%;
    }

    &-focused {
        border: 1px solid;
        border-color: #0073ea;
        display: flex;
        align-items: center;
        width: 190px;
        margin-inline-end: 0.25rem;


        input {
            width: 190px;
            cursor: text;
        }
        
    }

    &-active {
        background-color: #cce5ff;
    }



    &-expandable {
        transition: background-color .1s cubic-bezier(0, 0, 0.35, 1);
        border-radius: 4px;



    }
}


.filter-container {
    display: flex;
    align-items: center;

    padding: 0.25rem;
    border-radius: 0.25rem;

    &-expandable {
        transition: background-color .1s cubic-bezier(0, 0, 0.35, 1);
        border-radius: 4px;
    }


    &-active {
        background-color: #cce5ff;


    }


}

.icon-and-input-wrapper,
.icon-and-input-wrapper-active {

    input {
        background-color: unset;
        padding-left: 5px;
        width: 60px;
        transition: background-color .1s cubic-bezier(0, 0, 0.35, 1), width .1s cubic-bezier(0, 0, 0.35, 1);
        border: unset;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        height: 28px;


        &:focus {
            width: 190px;
            cursor: text;
            outline: none;
        }
    }

    // .input-active {
    //         background-color: #cce5ff;
    // }

    ::-webkit-input-placeholder {
        color: #323338;
        font-size: 0.875rem;
    }

}

.icon-and-input-wrapper-active {
    background-color: #cce5ff;


}


.add-board-entity-button-wrapper {
    margin-right: 14px;

    .add-task-button-component {
        border-radius: 4px 0 0 4px;
        display: flex;

        button {
            border-radius: 4px 0 0 4px;
            background-color: $--primary-color;
            color: #fff;
            padding: 4px 8px;
            height: 32px;
            line-height: 24px;
            --loader-padding: 8px;
            outline: none;
            border: none;
            height: auto;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                background-color: $--primary-hover-color;

            }
        }
    }

    .ds-menu-button-container {

        border-radius: 0 4px 4px 0;
        border-left: 1px solid;
        border-left-color: $--primary-hover-color;
        background-color: $--primary-color;
        height: 32px;
        width: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        transition: background-color 100ms ease-in;

        &:hover {
            background-color: $--primary-hover-color;

        }
    }
}





.monday-style-button--kind-primary.monday-style-button--color-primary {
    // background-color: #0085ff;
    // background-color: var(--primary-color);
}

.icon {
    color: var(--icon-color);
    margin-right: 0.5rem;
    width: 1rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 14px;


    font-family: "dapulse";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 10px;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-family: "dapulse";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}

.icon-v2-search {
    margin: 0 0 0 10px;
}

.board-sub-header {
    display: flex;
    align-items: center;
    align-self: center;
    height: 28px;


}