.menu-dialog {
    z-index: 100000;
}

.dialog-content-wrapper {
    outline: 0;
    display: flex;
    max-width: 264px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 17px 6px rgba(0, 0, 0, .1);

}



.menu-dialog-inner {
    max-width: 264px;
    padding: 0 1rem;
    transition: all 50ms ease-in;
    transition-property: opacity, width;
}

.menu-section {
    padding: 0.5rem;

    &:not(:last-child) {
        border-bottom: 1px solid;
        border-bottom-color: #e6e9ef;
    }
}

// .menu-section:not(:last-child) {
//     border-bottom: 1px solid;
//     border-bottom-color: #e6e9ef;
// }